MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database
MYSQL_USER=your_username
MYSQL_PASSWORD=your_password
MYSQL_HOST=your_host
MYSQL_PORT=your_port


MONGO_ROOT_USERNAME=your_mongo_username
MONGO_ROOT_PASSWORD=your_mongo_password

APP_ENV=local
