body {
  margin: 0;
  padding: 0;
  font-family: $font-body;
  font-size: 18px;
  background-color: $color-bg;
  color: $color-text;
  min-height: 100vh;
}

h1 {
  @include title-font;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h2 {
  @include title-font;
  font-size: 48px;
}

h3 {
  font-family: $font-title;
  color: $color-secondary;
  font-size: 40px;
  font-weight: normal;
}

h4 {
  @include title-font;
  font-size: 32px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea {
  font-size: 16px;
}

// Reponsive des bases
@media (max-width: 768px) {
  p,
  a {
    font-size: 16px;
  }

  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }
}
