.dashboard {
  padding: 40px;

  .dashboard-admin {
    padding: 40px;
    .logout-btn {
      @include button-cta;
    }
  }

  .dashboard-section {
    padding: 20px;

    &.prestations {
      h2 {
        margin-bottom: 1rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 400px;
        padding: 1.5rem;
        border-radius: 12px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

        select,
        input[type="text"],
        input[type="number"] {
          padding: 0.6rem 0.8rem;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 6px;
          font-family: inherit;
          background-color: white;

          &:focus {
            outline: none;
            border-color: $color-secondary;
            box-shadow: 0 0 0 2px rgba($color-secondary, 0.2);
          }
        }

        button {
          align-self: flex-start;
          @include button-rdv;
          border: none;

          &:hover {
            background-color: darken($color-secondary, 10%);
          }
        }
      }
    }

    &.prestations-list {
      .tarif-table {
        @include table-style;

        td {
          padding: 0.8rem 1rem;
          vertical-align: middle;
        }

        form.inline-form {
          display: flex;
          gap: 0.5rem;
          align-items: center;

          input[type="number"] {
            width: 100px;
            padding: 0.4rem;
            border-radius: 8px;
            border: 1px solid $color-border;
          }
        }

        .change-btn {
          @include button-rdv;
          border: none;

          &:hover {
            background: darken($color-secondary, 10%);
          }
        }

        .delete-btn {
          @include button-cta;
          border: 2px solid transparent;

          &:hover {
            background: #f6caca;
          }
        }
      }
    }
  }
}
