.instagram {
  background: $color-section;
  padding: 0 0 40px 0;

  .instagram-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;

    .instagram-img img {
      width: 173px;
      height: 173px;
      border-radius: 50%;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}


// Responsive de section instagram

@media (max-width: 768px) {
  .instagram-img {
    position: relative;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE/Edge

    &::-webkit-scrollbar {
      display: none; // Chrome/Safari
    }

    .scroll-container {
      display: flex;
      gap: 16px;
      padding: 10px;
      min-width: max-content;
    }
  }
}