.tarifs {
  margin-top: 120px;

  .tarifs-header {
    @include header-text;

    .tarifs-header-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .header-rdv-btn {
      @include button-rdv;
    }
  }

  .banner-container {
    @include banner;

    .banner-btn {
      @include button-cta;
    }
  }
}
