$color-primary: #E0A29B;
$color-secondary: #A75661;
$color-bg: #FFF9F2;
$color-section: #F3D7CA;
$color-card : #FFF1E1;
$color-text: #161616;
$color-border: #B59788;
$color-title-back : #FFCE94;

$font-title: 'Righteous', serif;
$font-body: 'Lato', sans-serif;