$color-primary: #E0A29B;
$color-secondary: #F3D7CA;
$color-bg: #FBF0E3;
$color-section: #FFF8E3;
$color-text: #161616;
$color-border: #B59788;

$font-title: 'Playfair Display', serif;
$font-body: 'Lato', sans-serif;